:root  {
    --cor-neutra-escura: black;
    --cor-neutra-clara: white;
    --cor-primaria: #6528d3;
    --cor-primaria-hover:#834de8
}

body {
    font-family: 'roboto', sans-serif;
    background-color: var(--cor-neutra-escura);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}